@mixin dfjccaic() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dfjcsbaic() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin dfjcsaaic(){
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin dfjcsaais() {
    display: flex;
    justify-content: space-around;
    align-items: start;
}