<footer>
   <ul>
       Developed By
       <li>Andree Benaya Abyatar</li>
       <li>Andrew Reyner Wibowo T.</li>
       <li>Nelson Mario Latif</li>
   </ul>
   <ul>
       Sitemap
       <li>Symptom Check</li>
       <li>Profile</li>
   </ul>
   <ul>
        Helpers
        <li><a href="https://apimedic.com/">https://apimedic.com/</a></li>
        <li><a href="https://firebase.google.com/">https://firebase.google.com/</a></li>
        <li><a href="https://stories.freepik.com/work">https://stories.freepik.com/work</a></li>
        <li><a href="https://material.angular.io/">https://material.angular.io/</a></li>
   </ul>
</footer>