@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

*{
    @include default-font();
}

section{
    min-height: 80vh;
}

mat-card{
    margin: 10px 0;
}
.category{
    background-color: white;
    color: black;
}

.activated{
    background-color: $primary;
    color: white;
}