<app-header></app-header>
<section>
    <mat-card>
        <mat-card-header>
            
            <mat-card-title>
                {{issueData.Name}}
            </mat-card-title>
            <mat-card-subtitle>
                {{issueData.ProfName}} (Medical Name)
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h5 style="color: gray;margin: 0;">Description:</h5>
            <p>{{issueData.Description}}</p>
            <h5 style="color: gray;margin: 0;">Medical Condition:</h5>
            <p>{{issueData.MedicalCondition}}</p>
            <h5 style="color: gray;margin: 0;">Possible Symptoms:</h5>
            <p>{{issueData.PossibleSymptoms}}</p>
            <h5 style="color: gray;margin: 0;">Treatment:</h5>
            <p>{{issueData.TreatmentDescription}}</p>

        </mat-card-content>
    </mat-card>
</section>
<app-footer></app-footer>