<app-header></app-header>
<div id="main-cont">
    <div class="banner-cont">
        <img src="../../../assets/images/doctors.png" alt="">
        <div class="banner-text">
            <span>
                <b>L.A.T.O.M</b>
            </span>
            <p>
                Short for <b>Legitimate Artificially Trained Operational Medic</b>
                is a Medical Website that can help you predict and find out about your symptoms and ailment. Based on the entered symptoms it tells you what possible disease you have.
                We also can direct you to more medical information about the disease
            </p>
        </div>
    </div>
    <div class="banner-cont reversed">
        <img src="../../../assets/images/lab.png" alt="">
        <div class="banner-text">
            <span>
                <b>Trusted and Reliable</b>
            </span>
            <p>
                Developed using an API from <b>Swiss Doctors</b>. The prediction is highly accurate and based on collected datas researched and tested carefully.
                Though it is still just an AI, we strongly reccommend that a visit to an actual doctor is more beneficial. This acts as an temporary substitute
            </p>
        </div>
    </div>
    <div class="banner-cont">
        <img src="../../../assets/images/check.png" alt="">
        <div class="banner-text">
            <span>
                <b>Symptom Check</b>
            </span>
            <p>
                Not Feeling Well? Check Out what illness you may have, by describing to our website where your ailments are and what symptoms you have

            </p>
            <button mat-raised-button color="primary">Check Symptoms</button>
        </div>
    </div>

    <div class="banner-cont reversed">
        <img src="../../../assets/images/knowledge.png" alt="">
        <div class="banner-text">
            <span>
                <b>Repository of Knowledge</b>
            </span>
            <p>
                Well, <b>Knowledge is Power</b>. We Have a Tons of information about diseases, illness, ailments, and medical refrences in our website. Read and Learn about them all right here at <b>L.A.T.O.M</b>
            </p>
            <button mat-raised-button color="primary">Learn</button>
        </div>
    </div>
</div>
<app-footer></app-footer>